- url = comment.new_record? ? post_comments_path(post) : post_comment_path(post, comment)
- method = comment.new_record? ? :post : :patch

= simple_form_for(comment, url: url, method: method) do |f|
  = render 'admin/layouts/error', resource: comment
  = f.input :text
  = f.button :submit, class: "btn btn-outline-success my-4"
